@model ToyForSI.Models.Position

@{
    ViewData["Title"] = "删除职位";
}

<h2>删除</h2>

<h3>你确定删除该职位?</h3>
<div>
    <h4>职位</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.positionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.positionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.positionAbstract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.positionAbstract)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="positionId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
