@model ToyForSI.Models.EquipmentType

@{
    ViewData["Title"] = "删除";
}

<h2>删除</h2>

<h3>你确定删除该设备类型?</h3>
<div>
    <h4>设备类型</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipmentTypeRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipmentTypeRemarks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="equipmentTypeId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
