@model ToyForSI.Models.Device
@using ToyForSI.Models.Enum;

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="deviceId" />
            <div class="form-group">
                <label asp-for="contractNo" class="control-label"></label>
                <input asp-for="contractNo" class="form-control" />
                <span asp-validation-for="contractNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="devModelId" class="control-label"></label>
                <select asp-for="devModelId" class="form-control" asp-items="ViewBag.devModelId"></select>
                <span asp-validation-for="devModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createTime" class="control-label"></label>
                <input asp-for="createTime" class="form-control" />
                <span asp-validation-for="createTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inWareHouse" class="control-label"></label>
                <select asp-for="inWareHouse" class="form-control" asp-items="Html.GetEnumSelectList<ToyForSI.Models.Enum.Bool>()"></select>
                <span asp-validation-for="inWareHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
