@model ToyForSI.Models.DevModel

@{
    ViewData["Title"] = "编辑";
}

<h2>编辑</h2>

<h4>设备型号</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="devModelId" />
            <div class="form-group">
                <label asp-for="devModelName" class="control-label"></label>
                <input asp-for="devModelName" class="form-control" />
                <span asp-validation-for="devModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brandId" class="control-label"></label>
                <select asp-for="brandId" class="form-control" asp-items="ViewBag.brandId">
                    <option value="">请选择品牌</option>
                </select>
                <span asp-validation-for="brandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipmentTypeId" class="control-label"></label>
                <select asp-for="equipmentTypeId" class="form-control" asp-items="ViewBag.equipmentTypeId">
                        <option value="">请选择设备类型</option>
                </select>
                <span asp-validation-for="equipmentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
