@model ToyForSI.Models.Member
@using ToyForSI.Models.Enum;

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="memberId" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label"></label>
                <select asp-for="sex" class="form-control" asp-items="Html.GetEnumSelectList<ToyForSI.Models.Enum.Sex>()">
                    <option value="">请选择性别</option>
                </select>
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeeId" class="control-label"></label>
                <input asp-for="employeeId" class="form-control" />
                <span asp-validation-for="employeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departmentId" class="control-label"></label>
                <select asp-for="departmentId" class="form-control" asp-items="ViewBag.departmentId">
                    <option value="">无</option>
                </select>
                <span asp-validation-for="departmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="positionId" class="control-label"></label>
                <select asp-for="positionId" class="form-control" asp-items="ViewBag.positionId">
                    <option value="">无</option>
                </select>
                <span asp-validation-for="positionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCard" class="control-label"></label>
                <input asp-for="IDCard" class="form-control" />
                <span asp-validation-for="IDCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tel" class="control-label"></label>
                <input asp-for="tel" class="form-control" />
                <span asp-validation-for="tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createTime" class="control-label"></label>
                <input asp-for="createTime" class="form-control" readonly="true"/>
                <span asp-validation-for="createTime" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label class="control-label">变更原因</label>
                <textarea name="reason" class="form-control">
                </textarea>
            </div>
            <div class="form-group" style="display:none">
                <input name="srcDep" class="form-control" readonly="true" value='@ViewBag.srcDepId'/>
            </div>
            <div class="form-group" style="display:none">
                <input name="srcPos" class="form-control" readonly="true" value='@ViewBag.srcPosId'/>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
